.btn-home{
    left:1vh;
    top:4vh;
}
.btn-balinbuluo{
    background: url("../../images/jieshao-balinbuluo-hover.png") center 0 no-repeat;
    background-size: contain;
    z-index: 20;
}
.balinbuluo-body{
    position: absolute;
    z-index: -9;
    height: 93vh;  width: 172vh;
    background : url(../../images/balinbuluo-background.png) center 0  no-repeat ;
    background-size: 170vh 100vh;
}