.btn-home{
    left:1vh;
    top:4vh;
}
.btn-balinyouqi{
    background: url("http://os41igb6f.bkt.clouddn.com/jieshao-balinyouqi-hover.png?imageslim") center 0 no-repeat;
    background-size: contain;
    z-index: 20;
}
.balinyouqi-body{
    position: absolute;
    z-index: -9;
    height: 93vh;  width: 172vh;
    background : url(http://os41igb6f.bkt.clouddn.com/balinyouqi-background.png?imageslim) center 0  no-repeat ;
    background-size: 170vh 100vh;
}