.btn-home{
    left:1vh;
    top:4vh;
}
.btn-balinyouqi{
    background: url("../../images/jieshao-balinyouqi-hover.png") center 0 no-repeat;
    background-size: contain;
    z-index: 20;
}
.balinyouqi-body{
    position: absolute;
    z-index: -9;
    height: 93vh;  width: 172vh;
    background : url(../../images/balinyouqi-background.png) center 0  no-repeat ;
    background-size: 170vh 100vh;
}