.btn-home{
    left:1vh;
    top:4vh;
}
.btn-fushi{
    width:25vh;
    height: 14vh;
    left:1vh;
    top: -4vh;
    z-index: 4;
    background: url("http://os41igb6f.bkt.clouddn.com/zuoshangjiao-fushi.png?imageslim") center 0 no-repeat;
    background-size: contain;
    position:relative;
}
.nav{
    width: 50vh;
    height: 27vh;
    position: relative;
    top: -28vh;
    left: 123vh;
    z-index: 10;
}
.btn-nvzhuang, .btn-nanzhuang{
    display: inline-block;
    width: 12vh;
    height: 100%;
    position: relative;
}
.btn-nvzhuang{
    background: url("http://os41igb6f.bkt.clouddn.com/fushi-nvzhuang-normal.png?imageslim") center 0 no-repeat;
    background-size: contain;
}
.btn-nanzhuang{
    background: url("http://os41igb6f.bkt.clouddn.com/fushi-nanzhuang-normal.png?imageslim") center 0 no-repeat;
    background-size: contain;
}

.btn-nvzhuang:hover{
    background-image: url("http://os41igb6f.bkt.clouddn.com/fushi-nvzhuang-hover.png?imageslim") ;
}
.btn-nanzhuang:hover{
    background-image: url("http://os41igb6f.bkt.clouddn.com/fushi-nanzhuang-hover.png?imageslim") ;
}