.btn-jieshao{
    width:25vh;
    height: 14vh;
    left:1vh;
    top: -4vh;
    z-index: 4;
    background: url("http://os41igb6f.bkt.clouddn.com/zuoshangjiao-jieshao.png?imageslim") center 0 no-repeat;
    background-size: contain;
    position:relative;
}
.nav{
    width: 50vh;
    height: 30vh;
    position: relative;
    top: -28.5vh;
    left: 100vh;
    z-index: 10;
}
.btn-balinhunli, .btn-balinbuluo, .btn-balinyouqi{
    display: inline-block;
    width: 15vh;
    height: 100%;
    position: relative;
}
.btn-balinhunli{
    background: url("http://os41igb6f.bkt.clouddn.com/jieshao-balinhunli-normal.png?imageslim") center 0 no-repeat;
    background-size: contain;
}
.btn-balinbuluo{
    background: url("http://os41igb6f.bkt.clouddn.com/jieshao-balinbuluo-normal.png?imageslim") center 0 no-repeat;
    background-size: contain;
}
.btn-balinyouqi{
    background: url("http://os41igb6f.bkt.clouddn.com/jieshao-balinyouqi-normal.png?imageslim") center 0 no-repeat;
    background-size: contain;
}


.btn-balinhunli:hover{
    background-image: url("http://os41igb6f.bkt.clouddn.com/jieshao-balinhunli-hover.png?imageslim") ;
}
.btn-balinbuluo:hover{
    background-image: url("http://os41igb6f.bkt.clouddn.com/jieshao-balinbuluo-hover.png?imageslim") ;
}
.btn-balinyouqi:hover{
    background-image: url("http://os41igb6f.bkt.clouddn.com/jieshao-balinyouqi-hover.png?imageslim") ;
}