.nvzhuang-body{
    position: absolute;
    z-index: -9;
    height: 93vh;  width: 172vh;
    background : url(../../images/nvzhuang-background.png) center 0  no-repeat ;
    background-size: 170vh 100vh;
}

.btn-nvzhuang{
    background: url("../../images/fushi-nvzhuang-hover.png") center 0 no-repeat;
    background-size: contain;
}