.btn-home{
    left:1vh;
    top:4vh;
}
.qvqin-body{
    position: absolute;
    z-index: -9;
    height: 93vh;  width: 172vh;
    background : url(http://os41igb6f.bkt.clouddn.com/qvqin-background.png?imageslim) center 0  no-repeat ;
    background-size: 170vh 100vh;
}
.btn-quqin{
    background: url("http://os41igb6f.bkt.clouddn.com/xisu-quqin-hover.png?imageslim") center 0 no-repeat;
    background-size: contain;
}